<nav class="navbar navbar-expand-sm text-dark">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active">Angular Ready</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/properties']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Properties</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/properties/new']" class="nav-link" routerLinkActive="active">Create Property</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">BUY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">RENT/PG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">PROJECTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">COMMERCIAL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">DEALERS</a>
        </li>

    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search properties..">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link">Welcome, Joe</a>
            </li>
        </ul>
    </div>
</nav>